* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(233, 221, 229);
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
}

.input-container h1 {
  color: rgb(241, 3, 182);
  text-shadow: 2px 2px 7px black;
}

.input-container input {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-block: 20px;
  font-size: 16px;
}

.input-container input[type="text"] {
  width: 70%;
}

.input-container input[type="button"] {
  background-color: rgb(183, 162, 233);
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  padding: 12px 20px;
}

.input-container input[type="button"]:hover {
  background-color: rgb(147, 114, 224);
}

ul{
    width: 100%;
    max-width: 450px;
}

ul li{
    list-style: none;
    background-color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 16px;
    margin-block-end: 12px;
    border-radius: 8px;
    cursor: pointer;
    border:  0.12px solid rgb(174, 172, 172);
    color:rgb(21, 1, 13);
    text-shadow: 1px 1px  rgb(93, 91, 92);
    transition: background-color 0.5s;
}

ul li:hover{
  background-color: #d9d8d9;
}
ul li p{
  flex-grow: 1;
  padding: 2px;
}

.btn{
border: none;  
outline: none;
font-size: 16px;
background: none;
cursor: pointer;
padding: 8px;
}

.delete{
  color: #8307c6;
}

.edit{
  
  color:rgb(241, 3, 182);
}

